@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0%;
  padding: 0%;
  border: 0%;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.titulo {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: x-large;
}

.container-fluid {
  background-color: #000000;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

hr {
  color: black;
  height: 4px;
}

.footer {
  background-color: #f1dfdf;
}

.logo-footer {
  font-style: italic;
  font-weight: bolder;
  color: black;
  text-align: center;
}



.title-nav1 {
  color: white;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: medium;
}

.boton2 {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #1ebe40;
  color: white;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

.boton2:hover {
  text-decoration: none;
  color: #1ebe40;
  background-color: white;
}

.footer-list {
  color: black;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.title-footer-list {
  text-decoration: underline;
  padding-bottom: 15px;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}


.nav-logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

h2{
  color:black;
  font-family: 'Roboto', sans-serif;
}